<a href="#"><img src="{{asset "images/social/ico-facebook.png"}}" alt="facebook" ></a>
<a href="https://twitter.com/mark_koslow" target="_blank"><img src="{{asset "images/social/ico-twitter.png"}}" alt="twitter" ></a>
<a href="#"><img src="{{asset "images/social/ico-google.png"}}" alt="google +" ></a>
<a href="#"><img src="{{asset "images/social/ico-instagram.png"}}" alt="instagram" ></a>
<a href="https://www.linkedin.com/profile/view?id=265987054&authType=NAME_SEARCH&authToken=17QA&locale=en_US&srchid=2659870541409608427066&srchindex=1&srchtotal=6&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2659870541409608427066%2CVSRPtargetId%3A265987054%2CVSRPcmpt%3Aprimary"><img src="{{asset "images/social/ico-linkedin.png"}}" alt="linkedin" ></a>
<a href="#"><img src="{{asset "images/social/ico-pinterest.png"}}" alt="pinterest" ></a>
<a href="#"><img src="{{asset "images/social/ico-youtube.png"}}" alt="youtube" ></a>
<a href="#"><img src="{{asset "images/social/ico-behance.png"}}" alt="behance" ></a>
<a href="#"><img src="{{asset "images/social/ico-flickr.png"}}" alt="flickr" ></a>
<a href="#"><img src="{{asset "images/social/ico-dribbble.png"}}" alt="dribbble" ></a>
<a href="https://github.com/MarkKoslow"><img src="{{asset "images/social/ico-github.png"}}" alt="github" ></a>
<a href="#"><img src="{{asset "images/social/ico-coursera.png"}}" alt="coursera" ></a>